VBox {
    -fx-background-size: stretch;
    -fx-background-image: url("background10.jpg");
}

#btn_login {
    -fx-background-color: radial-gradient(center 50% 20%, radius 90%, rgb(232, 194, 0), rgb(255, 118, 32), rgb(255, 38, 0));
    -fx-text-fill: white;
}

#btn_register {
    -fx-background-color: radial-gradient(center 50% 20%, radius 150%, rgb(172, 182, 201), rgb(52, 172, 224), rgb(34, 112, 147));
    -fx-text-fill: white;
}

.label {
    -fx-text-fill: #e8ecf1;

}





