VBox {
    -fx-background-color: #1d1d1d;
}

.mainHBox {
    -fx-background-image: url("background5.jpg");
}

#nivel1content, #nivel2content, #nivel3content, #nivel4content, #nivel5content  {
    -fx-background-color: #313131;
    -fx-background-image: url("background6.jpg");
    -fx-background-size: stretch;
}

#anchorPaneTop {

    -fx-border-color: white;
}

#mainHbox, #lowHbox {
    -fx-border-color: white;
}

#anchorPaneMonedero {
    -fx-background-color: radial-gradient(center 50% 50%, radius 120%, rgb(255, 177, 66), rgb(208, 89, 1), rgba(0, 0, 0, 0.17));
}

#playerVbox {
    -fx-background-color: radial-gradient(center 70% 120%, radius 120%, rgb(0, 0, 0), rgb(45, 45, 45), rgb(9, 9, 9));
}


#btn_menu {
    -fx-background-color: radial-gradient(center 50% 90%, radius 120%, rgb(255, 82, 82), rgb(203, 0, 0), rgb(179, 57, 57));
    -fx-text-fill: white;
}

#anchorPaneBotin1, #anchorPaneBotin2, #anchorPaneBotin3, #anchorPaneBotin4, #anchorPaneBotin5 {
    -fx-background-color: radial-gradient(center 50% 70%, radius 90%, rgb(255, 219, 133), rgb(217, 158, 76), rgb(72, 57, 36));
    -fx-content-display: flex;
}

.titled-pane > .title
{
    -fx-background-color: radial-gradient(center 50% 90%, radius 100%, rgb(183, 183, 183), rgb(82, 82, 82));
    -fx-border-radius: 3;
    -fx-border-color: white;
}

#nivel1pane:expanded > .title {
    -fx-background-color: radial-gradient(center 50% 100%, radius 100%, rgb(246, 186, 57), rgb(171, 61, 2));
}#nivel2pane:expanded > .title {
    -fx-background-color: radial-gradient(center 50% 100%, radius 100%, rgb(246, 186, 57), rgb(171, 61, 2));
}#nivel3pane:expanded > .title {
    -fx-background-color: radial-gradient(center 50% 100%, radius 100%, rgb(246, 186, 57), rgb(171, 61, 2));
}#nivel4pane:expanded > .title {
    -fx-background-color: radial-gradient(center 50% 100%, radius 100%, rgb(246, 186, 57), rgb(171, 61, 2));
}#nivel5pane:expanded > .title {
    -fx-background-color: radial-gradient(center 50% 100%, radius 100%, rgb(246, 186, 57), rgb(171, 61, 2));
}

#botin1pane:expanded > .title {
    -fx-background-color: radial-gradient(center 50% 100%, radius 100%, rgb(246, 186, 57), rgb(171, 61, 2));
}#botin2pane:expanded > .title {
    -fx-background-color: radial-gradient(center 50% 100%, radius 100%, rgb(246, 186, 57), rgb(171, 61, 2));
}#botin3pane:expanded > .title {
    -fx-background-color: radial-gradient(center 50% 100%, radius 100%, rgb(246, 186, 57), rgb(171, 61, 2));
}#botin4pane:expanded > .title {
    -fx-background-color: radial-gradient(center 50% 100%, radius 100%, rgb(246, 186, 57), rgb(171, 61, 2));
}#botin5pane:expanded > .title {
    -fx-background-color: radial-gradient(center 50% 100%, radius 100%, rgb(246, 186, 57), rgb(171, 61, 2));
}

#btn_attack {
    -fx-background-color: radial-gradient(center 50% 20%, radius 90%, rgb(232, 194, 0), rgb(255, 118, 32), rgb(255, 38, 0));
    -fx-text-fill: white;
}

#btn_skip {
    -fx-background-color: radial-gradient(center 50% 20%, radius 150%, rgb(172, 182, 201), rgb(52, 172, 224), rgb(34, 112, 147));
    -fx-text-fill: white;
}

.label {
    -fx-text-fill: white;
    -fx-fill: white;
}

#sliderHealth, #enemyHealth1, #enemyHealth2, #enemyHealth3, #enemyHealth4, #enemyHealth5 {
    -fx-accent: red;
}

#sliderMana {
    -fx-accent: lightblue;
}

#sliderAttack {
    -fx-accent: orange;
}

#sliderSpeed {
    -fx-accent: yellow;
}

#sliderDefense {
    -fx-accent: brown;
}

#sliderAgility {
    -fx-accent: green;
}