VBox {
    -fx-background-color: #1d1d1d;
}


#nivel1content, #nivel2content, #nivel3content, #nivel4content, #nivel5content  {
    -fx-background-color: #313131;
    -fx-background-image: url("background7.jpg");
    -fx-background-size: stretch;
}

#anchorPaneBotin1, #anchorPaneBotin2, #anchorPaneBotin3, #anchorPaneBotin4, #anchorPaneBotin5 {
    -fx-background-image: url("background-botin.jpg");
    -fx-background-size: stretch;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

#topHbox {
    -fx-background-color: radial-gradient(center 50% 90%, radius 120%, rgb(112, 17, 17), rgb(52, 12, 16), rgb(72, 10, 10));
}

#mainHbox, #lowHbox {
}

#anchorPaneMonedero {
    -fx-background-color: radial-gradient(center 50% 50%, radius 120%, rgb(255, 177, 66), rgb(208, 89, 1), rgba(0, 0, 0, 0.17));
}

#playerVbox {
    -fx-background-image: url("background-hero.jpg");
    -fx-background-size: stretch;
}

.titled-pane .arrow {
    -fx-opacity: 0;
}

#playerVbox {
    -fx-border-radius: 2;
    -fx-border-color: white;
}

.titled-pane > .title
{
    -fx-background-color: radial-gradient(center 50% 90%, radius 100%, rgb(183, 183, 183), rgb(82, 82, 82));
    -fx-border-radius: 2;
    -fx-border-color: white;
}

.titled-pane:expanded > .title {
    -fx-background-color: radial-gradient(center 50% 100%, radius 100%, rgb(246, 186, 57), rgb(171, 61, 2));
}

#btn_menu {
    -fx-background-color: radial-gradient(center 50% 90%, radius 120%, rgb(255, 82, 82), rgb(203, 0, 0), rgb(179, 57, 57));
    -fx-text-fill: white;
}

#btn_menu:hover {
    -fx-background-color: radial-gradient(center 50% 90%, radius 120%, rgb(255, 93, 93), rgb(218, 6, 6), rgb(179, 57, 57));
    -fx-text-fill: white;
}

#btn_attack {
    -fx-background-color: radial-gradient(center 50% 20%, radius 90%, rgb(232, 194, 0), rgb(255, 118, 32), rgb(255, 38, 0));
    -fx-text-fill: white;
}

#btn_attack:hover {
    -fx-background-color: radial-gradient(center 50% 20%, radius 90%, rgb(250, 210, 6), rgb(255, 131, 52), rgb(255, 38, 0));
    -fx-text-fill: white;
}

#btn_skip {
    -fx-background-color: radial-gradient(center 50% 20%, radius 150%, rgb(172, 182, 201), rgb(52, 172, 224), rgb(34, 112, 147));
    -fx-text-fill: white;
}

#btn_skip:hover {
    -fx-background-color: radial-gradient(center 50% 20%, radius 150%, rgb(192, 203, 224), rgb(62, 184, 238), rgb(34, 112, 147));
    -fx-text-fill: white;
}

.label {
    -fx-text-fill: white;
    -fx-fill: white;
}

#enemy1HpLabel, #enemy2HpLabel, #enemy3HpLabel, #enemy4HpLabel, #enemy5HpLabel {
    -fx-text-fill: black;
    -fx-fill: black;
}

#sliderHealth, #enemyHealth1, #enemyHealth2, #enemyHealth3, #enemyHealth4, #enemyHealth5 {
    -fx-accent: red;
}

#sliderAttack {
    -fx-accent: orange;
}

#sliderSpeed {
    -fx-accent: yellow;
}

