VBox {
    -fx-background-image: url("background_menu.jpg");
    -fx-background-color: #1d1d1d;
    -fx-background-size: stretch;
    -fx-opacity: 1;
}

.label {
    -fx-text-fill: white;
    -fx-fill: white;
}





