#vBox {
    -fx-background-size: stretch;
    -fx-background-image: url("background-login.jpg");
}

#btn_login {
    -fx-background-color: radial-gradient(center 50% 20%, radius 90%, rgb(232, 194, 0), rgb(255, 118, 32), rgb(255, 38, 0));
}

#btn_register {
    -fx-background-color: radial-gradient(center 50% 20%, radius 150%, rgb(172, 182, 201), rgb(52, 172, 224), rgb(34, 112, 147));
}

#vBoxError {
    -fx-background-color: radial-gradient(center 50% 90%, radius 100%, rgb(183, 183, 183), rgb(58, 58, 58));
    -fx-border-radius: 2;
    -fx-border-color: white;

}

.label {
    -fx-text-fill: #e8ecf1;
}